*{
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    background: aliceblue;
}
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3.5% 3.1%;
    background-image: url("../img/06122.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.title {
    top: 2.5%;
    width: 29%;
    height: 17.5%;
    background: url("../img/title.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}

.decoration_box {
    width: 23%;
    height: 5%;
    margin-top: 10%;
    background: url("../img/decoration_box.png") no-repeat;
    background-size: 100% 100%;
}

.entrance_box {
    display: flex;
    justify-content: space-between;
    column-gap: 2.4%;
    width: 100%;
    height: 45%;
    margin-top: 31px;
}
.entrance_box .entrance_item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    height: 100%;
    width: 25%;
    background: #FFFFFF;
    box-shadow: -9px 1px 24px 0 #9f9f9f1a;
    border-radius: 8px;
}
.entrance_box .entrance_item_new {
    height: 100%;
    width: 25%;
    background: #FFFFFF;
    box-shadow: -9px 1px 24px 0 #9f9f9f1a;
    border-radius: 8px;
}
.entrance_box .entrance_item_new .entrance_item_1 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    box-shadow: -9px 1px 24px 0 #9f9f9f1a;
    border-radius: 8px;
}
.entrance_box .entrance_item_new .entrance_item_2 {
    display: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding: 4% 7% 7%;
}
.entrance_item_2 .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    padding-right: 10%;
}
.entrance_item_2 .top .top_title {
    font-size: 16px;
    font-weight: 600;
}
.entrance_item_2 .body {
    height: 75%;
}
.entrance_item_2 .body .body_top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}
.entrance_item_2 .body .body_top .body_top_item {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(180deg, #BECFF2 0%, #F9F9F9 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entrance_item_2 .body .body_top .body_top_item:hover {
    background-image: linear-gradient(180deg, #B1C1E3 0%, #EEEFF2 100%);
}
.body_top_img {
    width: 30%;
    margin-top: 12%;
}
.body_top_item_type {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}
.body_bottom_img {
    width: 14%;
    margin-top: 5%;
}
.entrance_item_2 .body .body_bottom {
    width: 100%;
    height: 50%;
    margin-top: 20px;
    background: #F9F9F9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entrance_item_2 .body .body_bottom:hover {
    background: #F0F3F7;
}

.entrance_box .entrance_item .item_title, .entrance_box .entrance_item_new .item_title {
    color: #000000;
    font-weight: 600;
    font-size: 20px;
}
.entrance_box .entrance_item:hover, .entrance_box .entrance_item_new:hover {
    background: url("../img/hover_bg.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.item_op {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 12%;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
    color: #333333;
    font-size: 14px;
    text-decoration: none;
}
.entrance_box .entrance_item:hover .item_op {
    border: 1px solid #2D71FB;
    background: #2D71FB;
    color: #FFFFFF;
}
.entrance_box .entrance_item_new:hover .item_op {
    border: 1px solid #2D71FB;
    background: #2D71FB;
    color: #FFFFFF;
}
.entrance_box .entrance_item_new:hover .entrance_item_2 {
    display: flex;
}
.entrance_box .entrance_item_new:hover .entrance_item_1 {
    display: none;
}
.top_item {
    width: 50px;
    height: 50px;
}
.item_icon {
    width: 120px;
    height: 120px;
}
.item_icon_1 {
    background: url("../img/item_icon_1.png") no-repeat;
    background-size: 100% 100%;
}
.item_icon_2 {
    background: url("../img/item_icon_2.png") no-repeat;
    background-size: 100% 100%;
}
.item_icon_3 {
    background: url("../img/item_icon_3.png") no-repeat;
    background-size: 100% 100%;
}
.item_icon_4 {
    background: url("../img/item_icon_4.png") no-repeat;
    background-size: 100% 100%;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    color: #999999;
    font-size: 12px;
}
.footer span {
    padding-top: 6px;
}
.footer .logo {
    content: url("../img/logo.png");
    width: 53px;
}

